body{
	font-family: 'Lora', serif;
}

.jumbotron{
	background-image: url("../fun4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	padding: 10%;
}

@media only screen and (max-width : 480px) {
	.home{
		padding-top: 2%;
		padding-bottom: 5%;
		background-image: url("../fun5.jpg");
	}
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  filter: none;
}

.btn-default {
  color: #fff;
  background-color: #006600;
  border-color: #E62B2B;
}

.btn-default:hover{
  color: #fff;
  background-color: #E62B2B;
  border-color: #006600;

}

.carousel-control.left {
  left: 0;
  left: auto;
  background-image: none;
  filter: none;
}

.carousel-control, .carousel-control:active, .carousel-control:visited {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  font-size: 20px;
  color: #006600;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: none;
  opacity: 1;
}

.carousel-control:focus, .carousel-control:hover {
  color: #E62B2B;
  text-decoration: none;
  outline: 0;
  filter: none;
  opacity: 1;
}

.container{
	padding-bottom: 1%;
}

@media only screen and (min-width : 1200px) {
	.backing{
		padding: 5%;
	}
	.backing2{
		padding: 20%;
	}
}

.modal{
	color: black;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.img-responsive {
    margin: 0 auto;
}

h4{
	padding-bottom: 0;
	margin-bottom: 0;
	color: #E62B2B;
	font-family: 'Courgette', cursive;
}

h3{
	margin-top: 0;
	color: #E62B2B;
	font-family: 'Courgette', cursive;
}

h2{
	color: #E62B2B;
	font-family: 'Courgette', cursive;
}

h1{
	color: #E62B2B;
	font-family: 'Courgette', cursive;
}

a, a:visited{
	text-decoration: none;
	color: #006600;
}

a:hover, a:focus{
	text-decoration: none;
	color: #E62B2B;
}

.jumbotron .h1, .jumbotron h1 {
  color: #E62B2B;
  	text-shadow: 2px 2px 8px black;
	text-shadow: 3px 3px 8px black;
}

.backing{
	text-shadow: 2px 2px 8px black;
	text-shadow: 3px 3px 8px black;
	text-shadow: 4px 4px 8px black;
	text-shadow: 2px 1px 8px black;
	text-shadow: 3px 1px 8px black;
	text-shadow: 4px 1px 8px black;
}

.navbar-default {
  background-color: #006600;
  border-color: #19ac19;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #19ac19;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #19ac19;
}
.navbar-default .navbar-toggle {
  border-color: #19ac19;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #19ac19;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #19ac19;
  }
}

