.jumbotron{
	background-image: url("../fun4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	padding: 10%;
}

@media only screen and (max-width : 480px) {
	.jumbotron{
		background-image: url("../fun1.jpg");
	}
}

.modal{
	color: black;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.img-responsive {
    margin: 0 auto;
}

h4{
	padding-bottom: 0;
	margin-bottom: 0;
}

h3{
	margin-top: 0;
}

.backing{
	text-shadow: 2px 2px 8px black;
	text-shadow: 3px 3px 8px black;
}

